@model Paginate<News>
@{
   // string left = "<";
    // string right = ">";
    int count = ((Model.CurrentPage - 1) * 10) + 1;
}
<main>
    <div id="news">
        <div class="_container">
            <div class="top">
                <h1>Xəbərlər</h1>
            </div>

            <div class="bottom">
                @foreach (var item in Model.Items)
                {
                    <div class="news__card">
                        <div class="card__image">
                            <img src="./src/img/@item.ImageFile" alt="">
                        </div>
                        <div class="card__header">
                            <h1>@item.Name</h1>
                        </div>
                        <div class="card__text">
                            <p>@Html.Raw(item.Title)</p>
                        </div>
                        <div class="card__arrow">
                            <a asp-action="Detail" asp-route-id="@item.Id">
                                <p>Daha Çox</p>
                            </a>
                            <a asp-action="Detail" asp-route-id="@item.Id">
                                <img src="./src/img/arrow.svg" alt="">
                            </a>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
    <style>
               .pagination {
                display: flex;
                 justify-content: center;
                margin-top: 50px;        
                }
           
           .pagination a {
             color: black;
             float: left;
             padding: 8px 16px;
             text-decoration: none;
           }
           
           .pagination a.active {
             background-color: #eec920;
             color: white;
             border-radius: 5px;
           }
           
           .pagination a:hover:not(.active) {
             background-color: #ddd;
             border-radius: 5px;
           }</style>
    @if (@Model.AllPageCount > 1)
    {
        <div class="pagination">
    
            @{
                if (Model.CurrentPage < 1)
                {
                    Model.CurrentPage = 1;
                }
    
                int PageLeft = 1;
                int PagesRight = 1;
    
                var fromPage = Math.Max(1, Model.CurrentPage - PageLeft);
                var toPage = Math.Min(Model.AllPageCount, Model.CurrentPage + PagesRight);
    
                if (Model.AllPageCount == toPage)
                {
                    toPage = Model.AllPageCount;
                }
    
                if (Model.CurrentPage > 1)
                {
                    <a asp-route-page="@(Model.CurrentPage - 1)">&laquo;</a>
    
                    if (Model.CurrentPage - 1 > 1)
                    {
                        <a asp-route-page="1">1</a>
                    }
                }
    
                if (fromPage - 1 > 1)
                {
                    <a asp-route-page="@Model.CurrentPage">..</a>
                }
    
                for (var i = fromPage; i <= toPage; i++)
                {
                    <a asp-route-page="@i" class="@(Model.CurrentPage == i ? "active" : "")">@i</a>
                }
                if (toPage < Model.AllPageCount - 1)
                {
                    <a asp-route-page="@Model.CurrentPage">..</a>
                }
                if (Model.AllPageCount > Model.CurrentPage)
                {
                    if (Model.AllPageCount > Model.CurrentPage + 1)
                    {
                        <a asp-route-page="@(Model.AllPageCount)">@Model.AllPageCount</a>
                    }
    
                    <a asp-route-page="@(Model.CurrentPage + 1)">&raquo;</a>
                }
            }
    
        </div>
    }

    @* @if (@Model.AllPageCount > 1) *@
    @* { *@
    @* *@
    @*         <div id="pagenation" > *@
    @*             <ul > *@
    @*                 @{ *@
    @*                     if (Model.CurrentPage < 1) *@
    @*                     { *@
    @*                         Model.CurrentPage = 1; *@
    @*                     } *@
    @* *@
    @*                     int PageLeft = 1; *@
    @*                     int PagesRight = 1; *@
    @* *@
    @*                     var fromPage = Math.Max(1, Model.CurrentPage - PageLeft); *@
    @*                     var toPage = Math.Min(Model.AllPageCount, Model.CurrentPage + PagesRight); *@
    @* *@
    @*                     if (Model.AllPageCount == toPage) *@
    @*                     { *@
    @*                         toPage = Model.AllPageCount; *@
    @*                     } *@
    @* *@
    @*                     if (Model.CurrentPage > 1) *@
    @*                     { *@
    @*                         <li id="arrow" class="page-item"> *@
    @*                             <a class="page-link" asp-route-page="@(Model.CurrentPage - 1)"> *@
    @*                               @left *@
    @*                             </a> *@
    @*                         </li> *@
    @*                         if (Model.CurrentPage - 1 > 1) *@
    @*                         { *@
    @*                             <li class="page-item"> *@
    @* *@
    @*                                     <a class="page-link" asp-route-page="1"><p>1</p></a> *@
    @* *@
    @*                             </li> *@
    @*                         } *@
    @*                     } *@
    @* *@
    @*                     if (fromPage - 1 > 1) *@
    @*                     { *@
    @*                         <li> *@
    @* *@
    @*                                 <a class="page-link" asp-route-page="@Model.CurrentPage"> *@
    @*                                     <p>..</p> *@
    @*                                 </a> *@
    @* *@
    @*                         </li> *@
    @*                     } *@
    @* *@
    @*                     for (var i = fromPage; i <= toPage; i++) *@
    @*                     { *@
    @*                         <li class="page-item @(Model.CurrentPage == i ? "active" : "")"> *@
    @* *@
    @*                                 <a class="page-link" asp-route-page="@i"><p>@i</p></a> *@
    @* *@
    @*                         </li> *@
    @*                     } *@
    @*                     if (toPage < Model.AllPageCount - 1) *@
    @*                     { *@
    @*                         <li> *@
    @* *@
    @*                                 <a class="page-link" asp-route-page="@Model.CurrentPage"><p>..</p></a> *@
    @* *@
    @*                         </li> *@
    @*                     } *@
    @*                     if (Model.AllPageCount > Model.CurrentPage) *@
    @*                     { *@
    @*                         if (Model.AllPageCount > Model.CurrentPage + 1) *@
    @*                         { *@
    @*                             <li class="page-item"> *@
    @* *@
    @*                                     <a class="page-link" asp-route-page="@(Model.AllPageCount)"><p>@Model.AllPageCount</p></a> *@
    @* *@
    @*                             </li> *@
    @*                         } *@
    @*                         <li id="arrow"  class="page-item"> *@
    @*                             <a class="page-link" asp-route-page="@(Model.CurrentPage + 1)"> *@
    @*                                 @right *@
    @*                             </a> *@
    @*                         </li> *@
    @*                     } *@
    @*                 } *@
    @*             </ul> *@
    @*         </div> *@
    @* *@
    @* } *@



</main>